# .NET
bin/
obj/
*.user
*.suo

# Docker / local artifacts
*.tar
*.log

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
terraform.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Environment files
.env
.env.*

# Arquivos acidentais de curl/output
Accept:
GET
Host:
User-Agent:
